[user]
	email = alex.dibattista@gmail.com
	name = Alexander Di Battista
[core]
	excludesfile = ~/.gitignore
        pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	tool = opendiff
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	stripLeadingSymbols = false
